#mainheader {
  background-color: black;
  height: 204px;
  width: 100%;
  
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
}

#divheader {
  background-image:url(header-pic2.jpg);
  background-repeat: no-repeat;
  
  height: 204px;
  width: 100%;
  z-index: 2;
  position: absolute;
  top: 0;
}

#divtitle {
  position: absolute;
  left: 200px;
  bottom: 10px;
}

h1 {
  font-weight: bold;
  color: #4CAF50;
  font-size: 100px;
  
  margin: 0px;
  padding: 0px;
  
  line-height: 70px;
}


#navbar {
  width: 100%;
  border: none;
  position: fixed; /* Stay in place*/
  top: 204px;
  left: 0;
  background-color: #4CAF50;
  z-index: 1;
  padding: 10px;
}

#div-buttons {
  width: 60%;
  margin-right:auto;  
  margin-left:auto;
  padding: 5px;
}

.sidebutton {
  background-color: whitesmoke;
  border: none;
  padding: 0px 25px;
  color: #4CAF50;
  display: inline-block;
  font-size: 20px;
  border-radius: 8px;
  margin-right: 10px;
}

.sidebutton:hover {
  abox-shadow: 2px 3px 7px grey;
  box-shadow: inset 0 0 0 1px #6DFB73,0 5px 15px #306F33;
}
.sidebutton:active {
  color: white;
  box-shadow: inset 0 0 0 1px #6DFB73,inset 0 5px 30px #306F33;
}


#divbody {
  width: 100%;
  padding: 10px;
  background-color: rgba(76,175,80,0.1);
  position: absolute;
  top: 244px;
  left: 0;
  height: 100%;
  z-index: -1;
  text-align: center;
  overflow: hidden;
}

.row{
 width: 60%;
 margin-right:auto;  
 margin-left:auto; 
 padding-left:12px;  
 padding-right:12px
 position: absolute;
 top: 20 px;
 text-align: left;
}

.container {
  width: 60%;
  margin-right:auto;	
  margin-left:auto;	
  padding-left:12px;	
  padding-right:12px
}

.column-left{ float: left; width: 20%; }
.column-right{ float: right; width: 20%; }
.column-center{ display: inline-block; width: 20%; }


#gpl-notice {
  position: fixed;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 1; /* Stay on top */
  background-color: grey;
  color: white;
  font-size: 10pt;
  text-align: center;
}
