#mainheader {
  background-color: black;
  height: 430px;
  width: 100%;
  
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
}

#divheader {
  background-image:url(header-pic.jpg);
  color: white;
  
  height: 430px; 
  width: 1662px;
  
  position: absolute;
  top: 0;

}
