:root {
  --colorPrimary: #005200;
  --colorPrimaryLight: #00d800;
  /* --colorTitle: #009300; */
  /* --colorButton: #00d800; */
  --colorButton: #00d800;
  --colorButtonPressed: #00a900;
  --colorTitle: #00a900;
  --colorTitle: var(--colorPrimaryLight);
  --colorText: white;
  --colorTextDark: black;
  --colorLink: var(--colorPrimaryLight);
  --transparentLight: rgba(255,255,255,0.1);
  --transparentRed: rgba(255,0,0,0.1);
  --transparentDark: rgba(0,0,0,0.5);
  --colorSeparator: rgba(255,255,255,0.8);
}


* {
  margin: 0;
  padding: 0;
  /* box-sizing: border-box; */
}

a {
  color: var(--colorLink);
  text-decoration: none;
}
p {
  margin-bottom: 1em;
}

body {
  position: relative;
  background: transparent;
  top: 0;
  height: 100vh;
  width: 100vw;
  font-size: 62.5%;
  overflow: hidden;
  font-family: 'Ubuntu', sans-serif;
}
body::before {
  content: '';
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background: url('table2.jpeg') 0 0 no-repeat fixed;
  background-size: cover;
  z-index: -10;
}
body::after {
  content: '';
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;  
  right: 0;
  background: black no-repeat fixed;
  opacity: 0.5;
  z-index: -9;
}
header {
  position: relative;
  color: white;
  font-family: 'Open Sans', sans-serif;
  height: 50px;
  padding: 1em;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  border-bottom: 1px solid black;
  z-index: 99;
}
header::before {
  content: '';
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  width: 100vw;
  background-color: white;
  opacity: 0.8;
  z-index: -1;
}

#title {
}
#title img {
  float: left;
  height: 60px;
  margin: -5px 5px;
  text-align: center;
}
#title h1 {
  position: absolute;
  color: var(--colorTitle);
  color: transparent;
  background-clip: text;
  background: linear-gradient(to bottom, #077a06, var(--colorTitle), black);
  -webkit-background-clip: text;
  background-clip: text;
  font-family: 'Lora', serif;
  font-weight: bold;
  font-size: 5em;
  margin: -0.1em auto 0 auto;
  padding: 0;
  width: 100%;
  text-align: center;
}
#title::after {
  clear: both;
}


#menuToggle {
  display: block;
  position: relative;
  top: 5px;
  right: 0;
  z-index: 11;
  -webkit-user-select: none;
  user-select: none;
  width: 100%;
  margin: 0 -1em;
}
#menuToggle input {
  display: block;
  width: 40px;
  height: 32px;
  position: absolute;
  top: -7px;
  right: -5px;  
  cursor: pointer;  
  opacity: 0; /* hide this */
  z-index: 12; /* and place it over the hamburger */
  -webkit-touch-callout: none;
}
/* Just a quick hamburger */
#menuToggle span.burger {
  display: block;
  width: 33px;
  height: 4px;
  margin-left: auto;
  margin-bottom: 5px;
  position: relative;
  background: black;
  border-radius: 3px;
  z-index: 11;
  transform-origin: 4px 0px;
  transition: transform 0.5s cubic-bezier(0.77,0.2,0.05,1.0),
              background 0.5s cubic-bezier(0.77,0.2,0.05,1.0),
              opacity 0.55s ease;
}
#menuToggle span:first-child {
  transform-origin: 0% 0%;
}
#menuToggle span:nth-last-child(2) {
  transform-origin: 0% 100%;
}
/*  Transform all the slices of hamburger into a crossmark. */
#menuToggle input:checked ~ span {
  opacity: 1;
  transform: rotate(45deg) translate(-2px, -1px);
  background: #232323;
}
/* But let's hide the middle one. */
#menuToggle input:checked ~ span:nth-last-child(3) {
  opacity: 0;
  transform: rotate(0deg) scale(0.2, 0.2);
}
/* Ohyeah and the last one should go the other direction */
#menuToggle input:checked ~ span:nth-last-child(2) {
  transform: rotate(-45deg) translate(0, -1px);
}
#menuBar
{
  position: absolute;
  width: 0;
  margin: 28px 0 0 0 ;
  padding: 0;
  
  background: var(--colorSeparator);
  list-style-type: none;
  -webkit-font-smoothing: antialiased;
  /* to stop flickering of text in safari */
  
  transform-origin: 100% 0%;
  transform: translate(100%, 0);
  
  transition: transform 0.5s cubic-bezier(0.77,0.2,0.05,1.0), visibility 1s ease-in-out 0s, width 0.5s cubic-bezier(0.77,0.2,0.05,1.0);
  display: flex;
  flex-direction: row;
  visibility: hidden;
  overflow: hidden;
}
#menuBar li {
  color: var(--colorTextDark);
  padding: 10px 10px;
  font-size: 1.5em;
  margin: 0 auto;
}
#menuBar li:hover {
  color: var(--colorLink);
}
#menuBar li a {
  color: inherit;
  display: flex;
  flex-direction: column;
  text-align: center;
}
/* And let's slide it in from the right */
#menuToggle input:checked ~ ul {
  transform: none;
  visibility: visible;
  width: 100vw;
}


/* ========================================================================== */
/* MAIN CONTENT */
/* ========================================================================== */
.bodyBody {
  position: absolute;
  margin: 0;
  top: 70px;
  bottom: 0;
  left: 0;
  right: 0;
  overflow-x: hidden;
  overflow-y: auto;
  padding: 1em;
}

.content {
  margin: 1em auto;
  width: 95%;
  position: relative;
  font-size: 2em;
  border-color: black;
  border-radius: 5px;
  border-width: thin;
  border-style: solid;
  color: var(--colorText);
  //background: url('table2-blur.png') 0 0 no-repeat fixed;
  //background-size: cover;
  background: var(--transparentDark);
}
.content ul {
  list-style-type: none;
  display: flex;
}

/* ========================================================================== */
/* TRY NOW */
/* ========================================================================== */
.content.col2 {
  //height: 300px;
}
.content.col2 ul li {
  margin: 1em auto;
  width: 40%;
}
#motivator {
  text-align: center;
}
#motivator li {
  width: 100%;
  /* height: 255px; */
  overflow: hidden;
  vertical-align: middle;
}
#motivator h2 {
  padding: 0;
  margin-bottom: 1em;
  font-weight: normal;
  font-family: sans-serif;
}
#motivator button {
  font-size: 1em;
  font-weight: bold;
  color: white;
  padding: 1em;
  border: 2px solid var(--colorText);
  border-radius: 5px;
  background-color: transparent;
  transition: all 0.15s ease-in;
}
#motivator button:hover {
  background-color: var(--colorButton);
  border-color: var(--colorButton);
  color: black;
  cursor: pointer;
}
#motivator button:active {
  background-color: var(--colorButtonPressed);
  border-color: var(--colorButtonPressed);
}
#motivator img {
  position: relative;
  height: 100%;
  max-height: 250px;
  max-width: 100%;
  //width: 90%;
  //border: 2px solid white;
  //border-radius: 3px;
  //box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

#motivatorPic {
  visibility: hidden;
  display: none;
}

/* ========================================================================== */
/* EXPAND REASONS TO USE */
/* ========================================================================== */
.content.col3 {
  //min-height: 350px;
  //max-height: 350px;
  margin-top: 50px;
  overflow: hidden;
}
.content.col3 ul {
  //height: 100px;
  display: flex;
  flex-direction: column;
}
.content.col3 ul li {
  text-align: center;
  /*width: 33%;
  justify-content: center;
  text-align: center;
  padding-bottom: 0.4em;
  border-bottom: 1px solid black;
  transition: background-color 0.25s linear; */
}
.content.col3 ul li span.reasonsTitle {
  margin: 0 auto;
  text-align: center;
  display: block;
  width: 100%;
  padding: 10px 0;
  border-bottom: 1px solid white;
  background-color: var(--transparentLight);
}
.content.col3 ul li span.reasonsTitle::after {
  padding-left: 10px;
  content: ' ';
  font-family: "Font Awesome 5 Free";
  font-weight: 900;
  content: "\f078";
}
.content.col3 ul li:hover {
  background-color: var(--transparentLight);
  cursor: pointer;
  color: var(--colorTitle);
}
.content.col3 ul li div.fill {
  //display: none;
  max-height: 0;
  font-size: 0.8em;
  transition: max-height 0.25s linear;
  overflow: hidden;
}
.content.col3 ul li:hover div.fill {
  //display: block;
  height: auto;
  max-height: 300px;
  color: var(--colorText);
  background: transparent;
}
.content.col3 ul li .reasons {
  padding-bottom: 15px;
}
.content.col3 ul li .reasons ul li {
  text-align: left;
  padding: 10px;
}
.content.col3 ul li .reasons ul li:hover {
  color: inherit;
  background: inherit;
  cursor: default;
}
.content.col3 ul li .reasons ul li span {
  font-weight: bold;
}


/* ========================================================================== */
/* SEPARATOR */
/* ========================================================================== */
.separator {
  position: relative;
  margin: 2em 0 1em 0;
  font-size: 3em;
  font-weight: bold;
  text-align: center;
  font-family: 'Ubuntu', sans-serif;
  color: var(--colorTextDark);
}
.separator::before {
  content: '';
  position: absolute;
  background-color: var(--colorLink);
  bottom: 0;
  left: 0;
  right: 0;
  height: 3px;
  margin: 0.4em -1em;
  padding: 3px;
  z-index: -1;
  filter: blur(2px);
}
.separator::after {
  content: '';
  position: absolute;
  background: transparent;
  bottom: 0;
  left: 0;
  right: 0;
  margin: 0.4em -1em;
  padding: 4px;
  width: 2px;
  animation: pulse 8s infinite;
  animation-timing-function: linear;
  animation-delay: 2s;
  z-index: 0;
  opacity: 0.8;
}
@keyframes pulse {
  0% {
    box-shadow: 40px 0 4px 0px #00ff00, 40px 0 6px 1px white;
    border-radius: 100px;
  }
  6% {
    box-shadow: 120vw 0 4px 0px #00ff00, 120vw 0 6px 1px white;
    border-radius: 100px;
  }
  100% {
    box-shadow: 120vw 0 4px 0px #00ff00, 120vw 0 6px 1px white;
    border-radius: 100px;
  }
}
.separator span {
  padding: 10px;
  border: 1px solid black;
  border-radius: 2px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  background-color: var(--colorSeparator);
  z-index: 5;
}

/* ========================================================================== */
/* DOWNLOADS */
/* ========================================================================== */
.content.col4 {
  height: auto;
  font-size: 1.5em;
}
.content.col4 ul {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
}
.content.col4 ul li {
  margin: 0 auto;
  width: 90%;
  text-align: center;
}
.content.col4 li:hover {
  /* background-color: rgba(255,255,255,0.1); */
  background-color: var(--transparentLight);
  border-radius: 5px;
  cursor: pointer;
}
.content.col4 li .mac:hover {
  color: white;
  background-color: var(--transparentRed);
  cursor: auto;
}
.downLink {
  padding: 1em 0;
  display: block;
  color: var(--colorText);
  text-decoration: none;
  outline: none;
}
.downLink:focus {
  color: var(--colorButton);
  outline: none;
}
.downLink:active {
  color: var(--colorPrimaryLight);
  outline: none;
}
.downLink i {
  font-size: 2.5em;  
  color: var(--colorPrimary);
  padding: 0.3em 0;
  margin-bottom: 0.3em;
  width: 1.7em;
  border-radius: 50%;
  background-color: white;
}

#postDownloads ul {
  display: flex;
  width: 100%;
  padding: 0.5em 0;
}
#postDownloads li {
  width: 30%;
  margin: 0 auto;
}
#postDownloads li a {
  height: 80%;
  padding: 0.5em;
  display: flex;
  flex-direction: column;
  flex-grow: bottom;
}
#postDownloads li a p {
  margin-bottom: 0.8em;
}
#postDownloads ul li a i {
  font-size: 2em;
  margin-top: auto;
  color: var(--colorText);
}

/* ========================================================================== */
/* ABOUT */
/* ========================================================================== */
.content.col {
  padding: 0;
}
.content.col ul {
  display: inline-block;
  padding: 0.5em;
}
.content.col ul li {
  margin: 0;
  width: 90%;
}
.content.col .aboutTitle {
  font-weight:bold;
  text-align: center;
  margin: 1em 0 0.7em 0;
}
.content.col .aboutText {
  font-size:0.7em;
}
.content.col h5 {
  font-size: 0.9em;
  font-weight: normal;
  color: var(--colorLink);
  margin-top: 0.5em;
}
.content.col span {
  font-size:0.8em;
  color: var(--colorText);
}

#BTC, #help, #thanks {
  position: relative;
}
#help .tooltiptext, 
#thanks .tooltiptext {
  top: -5px;
  left: 55%;
}
#help .tooltiptext::after, 
#thanks .tooltiptext::after {
  top: 50%;
  right: 100%;
  left: auto;
  margin-left: 0;
  margin-top: -5px;
  border-color: transparent black transparent transparent;
}
#BTC .tooltiptext {
  background-color:white;
  opacity: 1;
  top: 130%;
  bottom: auto;
  left: 50%;
  height: 100px;
  margin-left: 20px;
}
#BTC .tooltiptext::after {
  border-color: transparent transparent white transparent;
  bottom: 100%;
}

/* ========================================================================== */
/* CONTACT */
/* ========================================================================== */
#contactContent {
  height: auto;
}
#contactContent ul {
  display: flex;
  flex-direction: column;
}
#contactContent ul li {
  width: 80%;
  margin: 1em auto 0.5em auto;
  padding-top: 1em;
}
#contactDetails {
  width: auto;
}
#contactSource {
  //width: 200px;
}

#gpg {
  position: relative;
  vertical-align: super;
  font-size: 0.7em;
}
/* Show the tooltip text when you mouse over the tooltip container */
#thanks:hover .tooltiptext,
#help:hover .tooltiptext,
#BTC1:hover .tooltiptext,
#gpg:hover .tooltiptext {
    visibility: visible;
}
.tooltiptext {
    visibility: hidden;
    width: 120px;
    background-color: black;
    color: #fff;
    text-align: center;
    padding: 5px 0;
    border-radius: 6px;
    /* Position the tooltip text */
    position: absolute;
    top: 200%;
    left: 50%;
    margin-left: -60px;
    z-index: 1;
    opacity: 0.9;
}
.tooltiptext::after {
    content: " ";
    position: absolute;
    bottom: 100%;
    left: 50%;
    margin-left: -5px;
    border-width: 5px;
    border-style: solid;
    border-color: transparent transparent black transparent;
}

#optoutParent {
  position: fixed;
  right: 40px;
  bottom: 10px;
  z-index: 99;
  width: 50%;
}
#optoutParent a {
  position: absolute;
  left: 0;
  background-color: white;
  border-radius: 2px;
  font-weight: bold;
  font-size: 2em;
  padding: 0 2px;
}
#optout {
  border: 0;
  height: 110px;
  width: 100%;
  border-radius: 5px;
  color: white;
  background-color: rgba(0,0,0,0.9);
  padding: 0 0 0 10px;
  margin: 0;
}

#privacy {
  border-radius: 5px;
  font-size: 1.2em;
  padding: 5px;
  background: var(--transparentLight);
}