#mainheader {
  background-color: black;
  height: 204px;
  width: 100%;
  
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
}

#divheader {
  background-image:url(header-pic2.jpg);
  background-repeat: no-repeat;
  
  height: 204px;
  width: 100%;
  z-index: 1;
  position: absolute;
  top: 0;
}

#divtitle {
  position: absolute;
  left: 200px;
  bottom: 0;
}

h1 {
  font-weight: bold;
  color: #4CAF50;
  font-size: 100px;
  
  margin: 0px;
  padding: 0px;
  
  line-height: 70px;
}


#leftnav {
  width: 180px;
  border: none;
  position: fixed; /* Stay in place*/
  top: 0;
  left: 0;
  bottom: 0;
  background-color: #0b0b0bff;
  padding: 214px 10px 10px 10px;
  z-index: 0.5;
}

.sidebutton {
background-color: #4CAF50;
border: 2px solid #4CAF50;
padding: 15px 32px;
width: 100%;
color: white;
display: block;
font-size: 20px;
border-radius: 8px;
margin: 0;
margin-bottom: 10px;
}

.sidebutton:hover {
background-color: white;
color: #4CAF50;
}


#divbody {
  padding: 10px;
  background-color: rgba(76,175,80,0.1);
  position: absolute;
  top: 204px;
  left: 200px;
  z-index: -1;
}

#updated {
  color: white;
  position: absolute;
  bottom: 20px;
  font-seize: 12pt;
  text-align: center;
}


#gpl-notice {
  position: fixed;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 1; /* Stay on top */
  background-color: grey;
  color: white;
  font-size: 10pt;
  text-align: center;
}
